header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header div {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div span {
  font-weight: 500;
  font-size: 28px;
  font-family: "Alice";
  color: #ffff;
}

.button-menu-white {
  width: 25px;
  display: flex;
  align-items: center;
}

@media (min-width: 780px) {
  header {
   
    height: 70px;
    margin: 0 auto;
    display: flex;
  }

  header div {
    width: 90%;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 30px;
  }

  header div span {
    font-size: 45px;
  }

  .button-menu-white {
    width: 40px;
  }
}
