header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header div {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

header div span {
  font-weight: 500;
  font-size: 28px;
  font-family: "Alice";
  color: #ffff;
}

.button-menu-white {
  width: 25px;
}

@media (min-width: 780px) {
  header {
    box-shadow: 0.2px 0.2px 8px rgba(0, 0, 0, 0.4);
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  header div {
    width: 70%;
  }

  header div span {
    font-size: 45px;
    height: 100%;
  }

  .button-menu-white {
    width: 35px;
  }
}
